.App{
  margin: 0 auto;
  width: 90%;
}

.logo, .drop-down, footer{
  display: flex;
  justify-content: center;
}

.b-login{
  width: 100%;
}

.form{
  margin-top: 130px;
}

img{
  width: 230px;
  padding: 20px;

}

.help{
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
}

h6{
  text-align: center;
}

.after{
  margin-top: 8px;
}

.fh, .b-login{
  height: 50px;
}

.dropdown{
  padding: 10px;
}

footer{
  margin-top: 150px;
  padding: 10px;
  border-top: 1px solid black;
}